<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/css/home/deg.css">
    <title>Document</title>
</head>
<body>
    <div class="paper">
        <img src="../static/assets/img/main/E-CIRCUIT-DEBUGGER-08-03-2024-removebg-preview.png" alt="">
        <div class="paper-main">
            <div class="paper-cont">
                <p>"Step into the world of electronics at our Circuit Debugger event! Dive deep into circuits, troubleshoot glitches, and unravel the mysteries of electrical engineering. From basic circuits to advanced components, learn to debug and optimize your designs. Join workshops, demonstrations, and hands-on activities led by experts. Unleash your creativity and master the art of circuit debugging at this electrifying event!"</p>
                <button>Register Now</button>
            </div>
            <div class="paper-rules">
                <div class="rules">
                    <h3>RULES</h3>
                    <ul>
                        <li>A team can consist of maximum 2 members.</li>
                        <li>Level 1: This round will include multiple choice question test. 30 questions will be 
                            given. Questions will be based on "BASIC ELECTRONICS & CIRCUITS".
                            Time allotted will be 30 minutes.
                            Top four teams will be selected for finals
                            </li>
                        <li>Level 2: Finals
                            Finals will be conducted in a time span of 1 hour.
                            The bug circuit should be debugged and explanations are to be given.
                            No external components allowed
                            </li>
                    </ul>
                </div>
            </div>
            <div class="coordinator">
                <h2>Co-ordinators</h2>
                <div class="member">
                    <h3>Nageshwara rao.,ECE/ IV year</h3>
                    <span>+91 1234567890</span>
                </div>
                <div class="member">
                    <h3>Santhosh kumar.,ECE/ IV year</h3>
                    <span>+91 1234567890</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>