<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/assets/css/home/linefollower.css">
</head>
<body>
    <div class="paper">
        <img src="../static/assets/img/main/LINE-FOLLOWER-08-03-2024-removebg-preview.png" alt="">
        <div class="paper-main">
            <div class="paper-cont">
                <p>"Join us for a paper presentation event where knowledge meets innovation! Share your ideas, ignite discussions, and inspire others with your insights. Let's collaborate to spread knowledge and shape the future together. Be part of this dynamic exchange of ideas!"</p>
                <button>Register Now</button>
            </div>
            <div class="paper-rules">
                <div class="rules">
                    <h3>RULES</h3>
                    <ul>
                        <li>Maximum 4 members in the Team.</li>
                        <li>Each Team as only one Robot.</li>
                        <li>Registation fee is 200 rupees per Team.</li>
                        <li>Batteries can be powered by electrical only.</li>
                    </ul>
                </div>
            </div>
            <div class="coordinator">
                <h2>Co-ordinators</h2>
                <div class="member">
                    <h3>Dheena.,ECE/ IV year</h3>
                    <span>+91 1234567890</span>
                </div>
                <div class="member">
                    <h3>Ezhil.,ECE/ IV year</h3>
                    <span>+91 1234567890</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>