<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="stylesheet" href="../static/assets/css/home/nontech.css">
</head>
<body>
    <div class="nontech">
        <img src="../static/assets/img/main/FUN-ZONE-08-03-2024-removebg-preview.png" alt="">
        <div class="paper-main">
        <div class="paper-cont">
            <p>"Join us at the ultimate Fun Zone event in our college! Get ready for a day packed with thrilling games, hilarious challenges, and non-stop laughter. From dizzying obstacle courses to wacky relay races, there's something for everyone. Don't miss out on the chance to win exciting prizes and make unforgettable memories with friends. Let's turn up the fun meter and make this event one for the books!"</p>
            <button>Register Now</button>
        </div>
        <div class="coordinator">
            <h2>Co-ordinators</h2>
            <div class="member">
                <h3>Nithiya Snega.,ECE/ IV year</h3>
                <span>+91 1234567890</span>
            </div>
            <div class="member">
                <h3>Prabadevi.,ECE/ IV year</h3>
                <span>+91 1234567890</span>
            </div>
        </div>
    </div>
    </div>
    <script>
        ScrollReveal({ reset: true,
        distance:'70px',
        duration:1500,
        delay:100
        });
        ScrollReveal().reveal('.nontech-main', { delay: 500,origin:'buttom' });
    </script>
</body>
</html>