<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/assets/css/home/paper.css">
</head>
<body>
    <div class="paper">
        <img src="../static/assets/img/main/PAPER-PRESENTATION-08-03-2024-removebg-preview.png" alt="">
        <div class="paper-main">
            <div class="paper-cont">
                <p>"Join us for a paper presentation event where knowledge meets innovation! Share your ideas, ignite discussions, and inspire others with your insights. Let's collaborate to spread knowledge and shape the future together. Be part of this dynamic exchange of ideas!"</p>
                <button>Register Now</button>
            </div>
            <div class="paper-rules">
                <div class="rules">
                    <h3>RULES</h3>
                    <ul>
                        <li>A team can consist of maximum 2 members.</li>
                        <li>Time limit will be 10 minutes.</li>
                        <li>8 minutes for presentation</li>
                        <li>Students should present the topics in related with Communications, Networks, VLSI, Embedded, and Image Processing.</li>
                        <li>Submit your full paper to mitronce2024ece@gmail.com. On or before Selected papers will be intimated on or before 14.03.2024 through email</li>
                        <li>Kindly mention your Name with initial, Year, Section, Department, College Name, batch in Mail along with your presentation</li>
                    </ul>
                </div>
            </div>
            <div class="coordinator">
                <h2>Co-ordinators</h2>
                <div class="member">
                    <h3>Arthi.,ECE/ IV year</h3>
                    <span>+91 1234567890</span>
                </div>
                <div class="member">
                    <h3>Vaishnavi.,ECE/ IV year</h3>
                    <span>+91 1234567890</span>
                </div>
            </div>
        </div>1
    </div>
</body>
</html>