<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/css/home/py.css">
    <title>Document</title>
</head>
<body>
    <div class="paper">
        <img src="../static/assets/img/main/CODE-CLASH-IN-PYTHON-08-03-2024-removebg-preview.png" alt="">
        <div class="paper-main">
            <div class="paper-cont">
                <p>"Get ready for the Python Code Clash at our college! Compete in thrilling coding challenges and showcase your skills. Whether you're a beginner or expert, join us for a day of intense Python programming. Win prizes, earn glory, and code your way to the top!"</p>
                <button>Register Now</button>
            </div>
            <div class="paper-rules">
                <div class="rules">
                    <h3>Rules</h3>
                    <ul>
                        <li>A team can consist of maximum 2 members.</li>
                        <li>Complete the code within the time.</li>
                        <li>Bring your own laptops.</li>
                    </ul>
                </div>
                <!-- <div class="rules">
                    <h3>Don't</h3>
                    <ul>
                        <li>Mobile or smart watches are not allowed while presenting</li>
                        <li>Imported libraries and packages will not be accecptable</li>
                    </ul>
                </div> -->
            </div>
            <div class="coordinator">
                <h2>Co-ordinators</h2>
                <div class="member">
                    <h3>Azhagesan.,ECE/ IV year</h3>
                    <span>+91 1234567890</span>
                </div>
                <div class="member">
                    <h3>Krishnaraj.,ECE/ IV year</h3>
                    <span>+91 1234567890</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>