<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Table - Mitronce</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/assets/css/styles.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"></div>
                    <div class="sidebar-brand-text mx-3"><span>Mitronce</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('admin_dashboard') }}"><i class="fas fa-user"></i><span>Dashboard</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Registration</h3>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Registration Info</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>College</th>
                                            <th>mobile</th>
                                            <th id="Payment">payment</th>
                                            <th id="confirm">confirm</th>
                                            <th id="reject">reject</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in data %}
                                        <tr>
                                            <td>{{ i.Name}}</td>
                                            <td>{{ i.college}}</td>
                                            <td>{{ i.mobile}}</td>
                                            {% if i.payment == "Cash" %}
                                            <td><p>Cash</p> </td>
                                            {% else %}
                                            <td><a href="{{ i.payment_url}}" target="_blank">Screenshot</a> </td>
                                            {% endif %}

                                            {% if v==1 %}

                                            <td><div class="btn-primary" ><a style="color: deepskyblue" href="/dashboard/pending/{{ i.id}}/1">Accept</a></div></td>
                                            <td><div class="btn-danger" ><a style="color: red" href="/dashboard/pending/{{ i.id}}/0">Reject</a></div></td>
                                            {% endif %}

                                        </tr>
                                    {% endfor %}

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Azhagesan 2024</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/script.min.js"></script>

    <script>

        window.onload = function() {
        {% if v == 0 %}
            var confirmColumn = document.getElementById("confirm");
            var rejectColumn = document.getElementById("reject");

            confirmColumn.parentNode.removeChild(confirmColumn);
            rejectColumn.parentNode.removeChild(rejectColumn);
            {% endif %}
    };
    </script>
</body>

</html>